USE [master]
GO
/****** Object:  Database [UserAccount]    Script Date: 31/12/2021 12:26:19 CH ******/
CREATE DATABASE [UserAccount]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UserAccount', FILENAME = N'F:\SQL Server 2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\UserAccount.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UserAccount_log', FILENAME = N'F:\SQL Server 2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\UserAccount_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UserAccount].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UserAccount]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 31/12/2021 12:26:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[username] [varchar](10) NOT NULL,
	[password] [varchar](10) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[UserAccount] ([username], [password]) VALUES (N'admin', N'admin')
INSERT [dbo].[UserAccount] ([username], [password]) VALUES (N'user', N'123')
GO
USE [master]
GO
